body{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 450px;
    background: rgb(212, 212, 212);
    }
    form{
        padding: 30px;
        text-align: center;
        border-radius: 15px;
        width: 400px;
        
    }
    form input{
        display: block;
        background: white;
        margin: 15px auto;
        padding: 10px;
        text-align: center;
        border: 2px solid;
        width: 200px;
        font-size: 14px;
        border-radius: 3px;
    }
    form input[type="submit"]{
        font-size: 16px;
        font-weight: 100px;
        background: #818486;
        color: rgb(255, 255, 255);
        width: 150px;
        border-radius: 8px;
        border-color: black;
    }
    label.error{
        font-weight: 200px;
        display: block;
        color: #f00;
        font-size: 14px;
    }
    input.error {
        border: 3px solid red;
        font-weight: 300;
        color: red;
      }

